llama-index
pymupdf
langchain
faiss-cpu
rank-bm25
nltk
langchain-community
bitsandbytes
accelerate
uvicorn
fastapi
pyngrok
sentence-transformers
cross-encoder/ms-marco-MiniLM-L-6-v2
requests
pydantic
transformers
numpy
